body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-and-date {
  width: 250px;
  height: 250px;
  border: 7px dotted black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
